flows.json
[{"id":"77c2bd2.a63fb44","type":"tab","label":"Home","disabled":false,"info":""},{"id":"f192f3f4.8a839","type":"tab","label":"Calls","disabled":false,"info":""},{"id":"4a21210a.e86b3","type":"tab","label":"SMS","disabled":false,"info":""},{"id":"6b2e9a51.240394","type":"tab","label":"Data","disabled":false,"info":""},{"id":"8acd678a.d99898","type":"tab","label":"Map","disabled":false,"info":""},{"id":"833b3e98.54dbe","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"610853ee.969ccc","type":"ui_group","z":"","name":"Call Statistics","tab":"833b3e98.54dbe","order":2,"disp":true,"width":"3","collapse":false},{"id":"66484410.863e9c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#45a29e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#45a29e","edited":true},"page-titlebar-backgroundColor":{"value":"#45a29e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#71c2bf","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#45a29e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Thes-Statistics","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":85,"sy":53,"gx":36,"gy":8,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6b556ae.926ef8","type":"ui_tab","z":"","name":"SMS Statistics","icon":"sms","order":3,"disabled":false,"hidden":false},{"id":"ac4d3166.14775","type":"ui_group","z":"","name":"Pick a Date","tab":"cfd36bb9.251748","order":1,"disp":true,"width":6,"collapse":false},{"id":"cfd36bb9.251748","type":"ui_tab","z":"","name":"Data Statistics","icon":"signal_wifi_3_bar","order":4,"disabled":false,"hidden":false},{"id":"7c7424af.eba05c","type":"MySQLdatabase","z":"","name":"","host":"147.102.19.135","port":"3306","db":"exams","tz":""},{"id":"8ae0e084.24b76","type":"ui_tab","z":"","name":"Call Statistics","icon":"call","order":2,"disabled":false,"hidden":false},{"id":"e6a4893.3cdd678","type":"ui_group","z":"","name":"Pick a Date","tab":"8ae0e084.24b76","order":1,"disp":true,"width":6,"collapse":false},{"id":"e6c235f9.2d8bd8","type":"ui_group","z":"","name":"Pick an Hour","tab":"8ae0e084.24b76","order":2,"disp":true,"width":6,"collapse":false},{"id":"1f686606.2cab1a","type":"ui_group","z":"","name":"Pick a Date","tab":"b6b556ae.926ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"49cc513b.ae68a","type":"ui_group","z":"","name":"Pick an Hour","tab":"b6b556ae.926ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"918ba25b.bd1a7","type":"ui_group","z":"","name":"Pick an Hour","tab":"cfd36bb9.251748","order":2,"disp":true,"width":"6","collapse":false},{"id":"4ef89143.94cb3","type":"ui_tab","z":"","name":"Map","icon":"map","order":5,"disabled":false,"hidden":false},{"id":"7e371740.ef4218","type":"ui_group","z":"","name":"Inputs","tab":"4ef89143.94cb3","order":1,"disp":true,"width":"6","collapse":false},{"id":"f0be4a0a.85f128","type":"ui_group","z":"","name":"Map","tab":"4ef89143.94cb3","order":2,"disp":true,"width":"6","collapse":false},{"id":"8985c547.59f548","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":3,"width":6,"height":1},{"id":"3381ee8.cfe9812","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":5,"width":2,"height":1},{"id":"527a8fb2.3ba8","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":7,"width":2,"height":1},{"id":"e74e916c.31028","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":8,"width":2,"height":1},{"id":"b0a7300b.7641b","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":9,"width":2,"height":1},{"id":"8f949fb1.6a957","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":10,"width":2,"height":1},{"id":"45c4c2f6.a9211c","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":11,"width":2,"height":1},{"id":"a99998c7.e9a7d8","type":"ui_spacer","name":"spacer","group":"e6c235f9.2d8bd8","order":12,"width":6,"height":1},{"id":"595247fc.cf80d8","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":3,"width":6,"height":1},{"id":"96a787ee.64cbb8","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":5,"width":2,"height":1},{"id":"996734ad.8bbf88","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":7,"width":2,"height":1},{"id":"bd091965.d652a8","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":8,"width":2,"height":1},{"id":"7599647.67f989c","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":9,"width":2,"height":1},{"id":"a99fa627.f548a8","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":10,"width":2,"height":1},{"id":"91f9047e.eccd98","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":11,"width":2,"height":1},{"id":"3d4b9a0b.1cfce6","type":"ui_spacer","name":"spacer","group":"49cc513b.ae68a","order":12,"width":6,"height":1},{"id":"df1679f3.1e5478","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":3,"width":6,"height":1},{"id":"2a9df4dc.9ee89c","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":5,"width":2,"height":1},{"id":"9c1f86d3.8cc2d8","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":7,"width":2,"height":1},{"id":"8c603076.37d2","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":8,"width":2,"height":1},{"id":"187d7e10.ed03d2","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":9,"width":2,"height":1},{"id":"30a4694a.4235d6","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":10,"width":2,"height":1},{"id":"dc5a6de9.2a833","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":11,"width":2,"height":1},{"id":"b74546b7.bf2368","type":"ui_spacer","name":"spacer","group":"918ba25b.bd1a7","order":12,"width":6,"height":1},{"id":"a4d8665d.5e5348","type":"ui_group","z":"","name":"SMS Statistics","tab":"833b3e98.54dbe","order":3,"disp":true,"width":"3","collapse":false},{"id":"697a625b.55214c","type":"ui_group","z":"","name":"Data Statistics","tab":"833b3e98.54dbe","order":4,"disp":true,"width":"3","collapse":false},{"id":"adbb1ea1.c57b2","type":"ui_group","z":"","name":"Locations","tab":"833b3e98.54dbe","order":5,"disp":true,"width":"3","collapse":false},{"id":"43a29d16.32d264","type":"ui_group","z":"","name":"Welcome to Thes-Statistics","tab":"833b3e98.54dbe","order":1,"disp":true,"width":"13","collapse":false},{"id":"d97cea3c.68c468","type":"ui_group","z":"","name":"Live Results (Per minute)","tab":"833b3e98.54dbe","order":6,"disp":true,"width":"13","collapse":true},{"id":"459eda6b.02acc4","type":"mqtt-broker","z":"","name":"","broker":"147.102.16.156","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6e385b.0f64778","type":"ui_spacer","name":"spacer","group":"adbb1ea1.c57b2","order":2,"width":3,"height":1},{"id":"c1599c6f.ea5ab","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":1,"width":1,"height":1},{"id":"baf9e6e3.e15508","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":3,"width":1,"height":1},{"id":"524c5a54.85ede4","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":5,"width":1,"height":1},{"id":"da870664.8b1628","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":7,"width":1,"height":1},{"id":"935db237.99f6f","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":8,"width":1,"height":1},{"id":"19cb64a1.0a1d0b","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":9,"width":1,"height":1},{"id":"5f9bd7aa.baed08","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":10,"width":1,"height":1},{"id":"b1a697f0.3a6918","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":11,"width":1,"height":1},{"id":"2c8d1ea2.c36ff2","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":12,"width":1,"height":1},{"id":"e3e3a126.129f1","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":13,"width":1,"height":1},{"id":"43125119.b5ffd","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":14,"width":1,"height":1},{"id":"1ef0377c.e43e19","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":15,"width":1,"height":1},{"id":"326a34df.de8e5c","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":16,"width":1,"height":1},{"id":"726ac0be.6f3ff","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":17,"width":1,"height":1},{"id":"3dedfafc.9c6f06","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":18,"width":1,"height":1},{"id":"91c8fbbd.0e0368","type":"ui_spacer","name":"spacer","group":"d97cea3c.68c468","order":19,"width":1,"height":1},{"id":"15940c5c.ec4e64","type":"ui_button","z":"f192f3f4.8a839","name":"","group":"e6c235f9.2d8bd8","order":13,"width":3,"height":1,"passthru":false,"label":"Return Home","tooltip":"","color":"","bgcolor":"","icon":"home","payload":"0","payloadType":"num","topic":"","x":110,"y":460,"wires":[["32746b25.5ef754"]]},{"id":"32746b25.5ef754","type":"ui_ui_control","z":"f192f3f4.8a839","name":"","events":"all","x":260,"y":460,"wires":[[]]},{"id":"5040979b.c2ad98","type":"mysql","z":"f192f3f4.8a839","mydb":"7c7424af.eba05c","name":"","x":870,"y":240,"wires":[["63a7f73b.ecb8d8"]]},{"id":"df95dc0.9f89228","type":"ui_date_picker","z":"f192f3f4.8a839","name":"","label":"Date","group":"e6a4893.3cdd678","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":220,"wires":[["81e0741d.eaabb8"]]},{"id":"81e0741d.eaabb8","type":"moment","z":"f192f3f4.8a839","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Athens","adjAmount":0,"adjType":"days","adjDir":"add","format":"Object","locale":"el_GR","output":"","outputType":"msg","outTz":"Europe/Athens","x":300,"y":220,"wires":[["111aa8fe.1ce357"]]},{"id":"111aa8fe.1ce357","type":"function","z":"f192f3f4.8a839","name":"","func":"var year = msg.payload.years;\nvar month = msg.payload.months+1;\nvar day = msg.payload.date;\n\nvar table = \"\";\nvar date = \"\";\n\nvar correct = false;\n\nif(year==2019 && month==12 && day==1){\n    table = \"table1\";\n    date = \"20191201\";\n    correct = true;\n}\n\nelse if(year==2019 && month==9 && day==1){\n    table = \"table2\";\n    date = \"20190901\";\n    correct = true;\n}\n\nelse if (year==2019 && month == 11){\n    table = \"table1\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\n\nelse if (year==2019 && month == 8){\n    table = \"table2\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = \"0\"+month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\nelse {\n    correct = false;\n}\n\nif (correct === false){\n    msg.topic = \"WRONG DATE\";\n    msg.payload = \"Date must be between 01/08/2019-01/09/2019 or between 01/11/2019-01/12/2019\";\n}\nelse {\n    msg.topic = \"SELECT DISTINCT time_period, MAX((`voice_in`)+(`voice_out`)) AS calls FROM \"+table+\" WHERE event_date LIKE \"+date+\" GROUP BY time_period ORDER BY calls DESC, time_period\";\n    var full = day+\"/\"+month+\"/\"+year;\n    flow.set('date', date);\n    flow.set('full', full);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["8c03dbfb.3a1478"]]},{"id":"81109de2.63514","type":"ui_toast","z":"f192f3f4.8a839","position":"dialog","displayTime":"3","highlight":"darkblue","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Wrong Date","x":870,"y":180,"wires":[[]]},{"id":"8c03dbfb.3a1478","type":"switch","z":"f192f3f4.8a839","name":"Check Date","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"WRONG DATE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":220,"wires":[["81109de2.63514"],["5040979b.c2ad98"]]},{"id":"1ef104a7.9e3c7b","type":"http request","z":"f192f3f4.8a839","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://147.102.19.45:8090/services/getWeatherDisc/{{{query1}}}/{{{query2}}}","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":380,"wires":[["a7b5ceb9.fdf79","d3e62d8d.3bce","1f16a0a6.22a69f"]]},{"id":"9f52964d.b802f8","type":"debug","z":"f192f3f4.8a839","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":340,"wires":[]},{"id":"63a7f73b.ecb8d8","type":"function","z":"f192f3f4.8a839","name":"","func":"var calls = [];\nvar time = [];\n\nfor (var i =0; i<24; i++){\n    time[i] = msg.payload[i].time_period;\n    calls[time[i]] = msg.payload[i].calls;\n}\nflow.set('calls', calls);\nmsg.payload = {\"channel\": \"TP01\", \"color\": \"Red\", \"time\": time, \"calls\": calls};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["5222e879.0afcd8"]]},{"id":"5222e879.0afcd8","type":"ui_template","z":"f192f3f4.8a839","group":"e6a4893.3cdd678","name":"","order":2,"width":6,"height":7,"format":"<canvas id=\"myChart\" width=\"700\" height=\"520\"></canvas>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@2.8.0\"></script>\n<script>\n(function() {\nvar ctx = document.getElementById('myChart').getContext('2d');\nvar myChart = new Chart(ctx, {\n    type: 'bar',\n    data: {\n        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],\n        //xaxis\n        datasets: [{\n            label: '# of calls',\n            data: [],\n            backgroundColor: [\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)'\n            ],\n            borderColor: [\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        title: {\n            display: true,\n            text: 'Max Calls per Hour in a specific Location'\n        },\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: true,\n            position: 'top',\n            align: 'end'\n        },\n        tooltips: {\n            mode: 'label'\n        },\n        //responsive: true,\n        \n        //maintainAspectRatio: false,\n        \n        onClick: handler\n    }\n});\n\nfunction handler(evt){\n    var activeElement = myChart.getElementAtEvent(evt);\n    alert (\"The maximum number of Calls measured at \"+myChart.data.labels[activeElement[0]._index]+\" o'clock was: \"+myChart.data.datasets[activeElement[0]._datasetIndex].data[activeElement[0]._index]);\n}\n\n\nfunction addData(msg, scope) {\n    if (msg.payload == \"false\"){\n        myChart.data.labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]\n        myChart.data.datasets[0].data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\n    }\n    else if(msg.topic == \"update\"){\n        myChart.data.datasets[0].data = msg.payload\n    }\n    else {\n        //myChart.data.labels = msg.payload.time\n        myChart.data.datasets[0].data = msg.payload.calls\n    }\n    myChart.update();\n};\n\n(function(scope,evt) {\n        console.log('Position 1');\n        console.dir(scope);\n        scope.send( {payload: \"false\"});\n        scope.$watch('msg', function(msg) {\n            console.log('Position 2');\n            console.dir(msg);\n            if(msg){\n                addData(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1080,"y":400,"wires":[["9f52964d.b802f8"]]},{"id":"22ff3840.37d2d8","type":"ui_numeric","z":"f192f3f4.8a839","name":"","label":"Hour","tooltip":"","group":"e6c235f9.2d8bd8","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":110,"y":280,"wires":[["2dbeb79b.695ab8"]]},{"id":"2dbeb79b.695ab8","type":"function","z":"f192f3f4.8a839","name":"","func":"var hour = msg.payload;\nif (hour>=0 && hour<=9){\n    hour = \"0\"+hour.toString();\n}\nelse {\n    hour = hour.toString();\n}\nflow.set('hour', hour);","outputs":1,"noerr":0,"x":250,"y":280,"wires":[[]]},{"id":"99c3f5df.12b938","type":"ui_button","z":"f192f3f4.8a839","name":"","group":"e6c235f9.2d8bd8","order":2,"width":6,"height":1,"passthru":false,"label":"Show Weather","tooltip":"","color":"","bgcolor":"","icon":"wi-darksky-clear-day","payload":"","payloadType":"str","topic":"","x":120,"y":400,"wires":[["1cbe8a71.d73236"]]},{"id":"1cbe8a71.d73236","type":"function","z":"f192f3f4.8a839","name":"","func":"var hour = \"\";\nvar date = \"\";\nvar full = \"\";\n\ndate = flow.get('date');\nhour = flow.get('hour');\nfull = flow.get('full');\n\nmsg.query1 = date;\nmsg.query2 = hour;\nmsg.full = \"The weather in \"+full+\" at \"+hour+\":00 was:\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["1ef104a7.9e3c7b","24101697.38c70a"]]},{"id":"a7b5ceb9.fdf79","type":"ui_audio","z":"f192f3f4.8a839","name":"","group":"e6c235f9.2d8bd8","voice":"en-US","always":"","x":680,"y":340,"wires":[]},{"id":"68d750.e4c948b","type":"ui_button","z":"f192f3f4.8a839","name":"","group":"e6a4893.3cdd678","order":3,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"false","payloadType":"str","topic":"","x":910,"y":400,"wires":[["5222e879.0afcd8"]]},{"id":"d3e62d8d.3bce","type":"ui_text","z":"f192f3f4.8a839","group":"e6c235f9.2d8bd8","order":4,"width":0,"height":0,"name":"","label":"{{msg.full}}","format":"{{msg.payload}}","layout":"col-center","x":630,"y":300,"wires":[]},{"id":"24101697.38c70a","type":"debug","z":"f192f3f4.8a839","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":480,"wires":[]},{"id":"8968bde1.c6bfb","type":"ui_button","z":"f192f3f4.8a839","name":"","group":"e6c235f9.2d8bd8","order":14,"width":3,"height":1,"passthru":false,"label":"Go to map","tooltip":"","color":"","bgcolor":"","icon":"map","payload":"4","payloadType":"num","topic":"","x":110,"y":540,"wires":[["8215d18e.56a51"]]},{"id":"47278dc3.d7fb94","type":"ui_button","z":"77c2bd2.a63fb44","name":"","group":"a4d8665d.5e5348","order":2,"width":3,"height":1,"passthru":false,"label":"Μεταβαση στα SMS","tooltip":"","color":"","bgcolor":"","icon":"sms","payload":"2","payloadType":"num","topic":"","x":120,"y":120,"wires":[["74d26758.61a558"]]},{"id":"f0506c66.5ec5d","type":"ui_button","z":"77c2bd2.a63fb44","name":"","group":"610853ee.969ccc","order":2,"width":3,"height":1,"passthru":false,"label":"Μεταβαση στα Calls","tooltip":"","color":"","bgcolor":"","icon":"call","payload":"1","payloadType":"num","topic":"","x":120,"y":60,"wires":[["62e26ba7.7cf204"]]},{"id":"68c1e5c0.03fd4c","type":"ui_button","z":"77c2bd2.a63fb44","name":"","group":"697a625b.55214c","order":2,"width":3,"height":1,"passthru":false,"label":"Μεταβαση στα Data","tooltip":"","color":"","bgcolor":"","icon":"signal_wifi_3_bar","payload":"3","payloadType":"num","topic":"","x":110,"y":180,"wires":[["f17327ce.94cd48"]]},{"id":"c23557a3.36d3c8","type":"mysql","z":"4a21210a.e86b3","mydb":"7c7424af.eba05c","name":"","x":850,"y":140,"wires":[["cb2c30d8.24b09"]]},{"id":"ed04c5c8.0cc5a8","type":"ui_date_picker","z":"4a21210a.e86b3","name":"","label":"Date","group":"1f686606.2cab1a","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":120,"wires":[["95040d74.d60d5"]]},{"id":"95040d74.d60d5","type":"moment","z":"4a21210a.e86b3","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Athens","adjAmount":0,"adjType":"days","adjDir":"add","format":"Object","locale":"el_GR","output":"","outputType":"msg","outTz":"Europe/Athens","x":280,"y":120,"wires":[["f4817d19.0e919"]]},{"id":"f4817d19.0e919","type":"function","z":"4a21210a.e86b3","name":"","func":"var year = msg.payload.years;\nvar month = msg.payload.months+1;\nvar day = msg.payload.date;\n\nvar table = \"\";\nvar date = \"\";\n\nvar correct = false;\n\nif(year==2019 && month==12 && day==1){\n    table = \"table1\";\n    date = \"20191201\";\n    correct = true;\n}\n\nelse if(year==2019 && month==9 && day==1){\n    table = \"table2\";\n    date = \"20190901\";\n    correct = true;\n}\n\nelse if (year==2019 && month == 11){\n    table = \"table1\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\n\nelse if (year==2019 && month == 8){\n    table = \"table2\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = \"0\"+month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\nelse {\n    correct = false;\n}\n\nif (correct === false){\n    msg.topic = \"WRONG DATE\";\n    msg.payload = \"Date must be between 01/08/2019-01/09/2019 or between 01/11/2019-01/12/2019\";\n}\nelse {\n    msg.topic = \"SELECT DISTINCT time_period, MAX((`sms_in`)+(`sms_out`)) AS sms FROM \"+table+\" WHERE event_date LIKE \"+date+\" GROUP BY time_period ORDER BY sms DESC, time_period\";\n    var full = day+\"/\"+month+\"/\"+year;\n    flow.set('date', date);\n    flow.set('full', full);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["ee3b6241.03aa2"]]},{"id":"3ac28ab7.54d1b6","type":"ui_toast","z":"4a21210a.e86b3","position":"dialog","displayTime":"3","highlight":"darkblue","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Wrong Date","x":850,"y":80,"wires":[[]]},{"id":"ee3b6241.03aa2","type":"switch","z":"4a21210a.e86b3","name":"Check Date","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"WRONG DATE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":120,"wires":[["3ac28ab7.54d1b6"],["c23557a3.36d3c8"]]},{"id":"fc617a51.359048","type":"http request","z":"4a21210a.e86b3","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://147.102.19.45:8090/services/getWeatherDisc/{{{query1}}}/{{{query2}}}","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":280,"wires":[["166365d3.df2c6a","b9319feb.c2251","beb0d615.f26048"]]},{"id":"5cbaf49e.65103c","type":"debug","z":"4a21210a.e86b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":240,"wires":[]},{"id":"cb2c30d8.24b09","type":"function","z":"4a21210a.e86b3","name":"","func":"var sms = [];\nvar time = [];\n\nfor (var i =0; i<24; i++){\n    time[i] = msg.payload[i].time_period;\n    sms[time[i]] = msg.payload[i].sms;\n}\nflow.set('sms', sms);\nmsg.payload = {\"channel\": \"TP01\", \"color\": \"Red\", \"time\": time, \"sms\": sms};\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":180,"wires":[["c886eebe.583b2"]]},{"id":"c886eebe.583b2","type":"ui_template","z":"4a21210a.e86b3","group":"1f686606.2cab1a","name":"","order":2,"width":6,"height":7,"format":"<canvas id=\"myChart\" width=\"700\" height=\"520\"></canvas>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@2.8.0\"></script>\n<script>\n(function() {\nvar ctx = document.getElementById('myChart').getContext('2d');\nvar myChart = new Chart(ctx, {\n    type: 'bar',\n    data: {\n        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],\n        //xaxis\n        datasets: [{\n            label: '# of SMS',\n            data: [],\n            backgroundColor: [\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)'\n            ],\n            borderColor: [\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        title: {\n            display: true,\n            text: 'Max SMS per Hour in a specific Location'\n        },\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: true,\n            position: 'top',\n            align: 'end'\n        },\n        tooltips: {\n            mode: 'label'\n        },\n        //responsive: true,\n        \n        //maintainAspectRatio: false,\n        \n        onClick: handler\n    }\n});\n\nfunction handler(evt){\n    var activeElement = myChart.getElementAtEvent(evt);\n    alert (\"The maximum number of SMS measured at \"+myChart.data.labels[activeElement[0]._index]+\" o'clock was: \"+myChart.data.datasets[activeElement[0]._datasetIndex].data[activeElement[0]._index]);\n}\n\n\nfunction addData(msg, scope) {\n    if (msg.payload == \"false\"){\n        myChart.data.labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]\n        myChart.data.datasets[0].data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\n    }\n    else if(msg.topic == \"update\"){\n        myChart.data.datasets[0].data = msg.payload\n    }\n    else {\n        //myChart.data.labels = msg.payload.time\n        myChart.data.datasets[0].data = msg.payload.sms\n    }\n    myChart.update();\n};\n\n(function(scope,evt) {\n        console.log('Position 1');\n        console.dir(scope);\n        scope.send( {payload: \"false\"});\n        scope.$watch('msg', function(msg) {\n            console.log('Position 2');\n            console.dir(msg);\n            if(msg){\n                addData(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":300,"wires":[["5cbaf49e.65103c"]]},{"id":"490a2e95.f8d8","type":"ui_numeric","z":"4a21210a.e86b3","name":"","label":"Hour","tooltip":"","group":"49cc513b.ae68a","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":90,"y":180,"wires":[["f032aae3.8c2188"]]},{"id":"f032aae3.8c2188","type":"function","z":"4a21210a.e86b3","name":"","func":"var hour = msg.payload;\nif (hour>=0 && hour<=9){\n    hour = \"0\"+hour.toString();\n}\nelse {\n    hour = hour.toString();\n}\nflow.set('hour', hour);","outputs":1,"noerr":0,"x":230,"y":180,"wires":[[]]},{"id":"3460e31b.7c16ac","type":"ui_button","z":"4a21210a.e86b3","name":"","group":"49cc513b.ae68a","order":2,"width":6,"height":1,"passthru":false,"label":"Show Weather","tooltip":"","color":"","bgcolor":"","icon":"wi-darksky-clear-day","payload":"","payloadType":"str","topic":"","x":100,"y":300,"wires":[["4b5e111e.cd177"]]},{"id":"4b5e111e.cd177","type":"function","z":"4a21210a.e86b3","name":"","func":"var hour = \"\";\nvar date = \"\";\nvar full = \"\";\n\ndate = flow.get('date');\nhour = flow.get('hour');\nfull = flow.get('full');\n\nmsg.query1 = date;\nmsg.query2 = hour;\nmsg.full = \"The weather in \"+full+\" at \"+hour+\":00 was:\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["fc617a51.359048","9da03ef4.d892c"]]},{"id":"f1f83168.9de46","type":"ui_button","z":"4a21210a.e86b3","name":"","group":"1f686606.2cab1a","order":3,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"false","payloadType":"str","topic":"","x":890,"y":300,"wires":[["c886eebe.583b2"]]},{"id":"166365d3.df2c6a","type":"ui_text","z":"4a21210a.e86b3","group":"49cc513b.ae68a","order":4,"width":0,"height":0,"name":"","label":"{{msg.full}}","format":"{{msg.payload}}","layout":"col-center","x":570,"y":200,"wires":[]},{"id":"9da03ef4.d892c","type":"debug","z":"4a21210a.e86b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":380,"wires":[]},{"id":"b9319feb.c2251","type":"ui_audio","z":"4a21210a.e86b3","name":"","group":"49cc513b.ae68a","voice":"en-US","always":"","x":640,"y":240,"wires":[]},{"id":"2ddd3e52.604ae2","type":"ui_button","z":"6b2e9a51.240394","name":"","group":"918ba25b.bd1a7","order":13,"width":3,"height":1,"passthru":false,"label":"Return Home","tooltip":"","color":"","bgcolor":"","icon":"home","payload":"0","payloadType":"num","topic":"","x":110,"y":380,"wires":[["910b485f.975ac8"]]},{"id":"910b485f.975ac8","type":"ui_ui_control","z":"6b2e9a51.240394","name":"","events":"all","x":260,"y":380,"wires":[[]]},{"id":"ab4b762f.8f7158","type":"mysql","z":"6b2e9a51.240394","mydb":"7c7424af.eba05c","name":"","x":870,"y":160,"wires":[["83f6b20c.6dac5"]]},{"id":"cdf7e6e.31daa18","type":"ui_date_picker","z":"6b2e9a51.240394","name":"","label":"Date","group":"ac4d3166.14775","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":140,"wires":[["5b9995f8.c0034c"]]},{"id":"5b9995f8.c0034c","type":"moment","z":"6b2e9a51.240394","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Athens","adjAmount":0,"adjType":"days","adjDir":"add","format":"Object","locale":"el_GR","output":"","outputType":"msg","outTz":"Europe/Athens","x":300,"y":140,"wires":[["be89e9d3.dfc9f8"]]},{"id":"be89e9d3.dfc9f8","type":"function","z":"6b2e9a51.240394","name":"","func":"var year = msg.payload.years;\nvar month = msg.payload.months+1;\nvar day = msg.payload.date;\n\nvar table = \"\";\nvar date = \"\";\n\nvar correct = false;\n\nif(year==2019 && month==12 && day==1){\n    table = \"table1\";\n    date = \"20191201\";\n    correct = true;\n}\n\nelse if(year==2019 && month==9 && day==1){\n    table = \"table2\";\n    date = \"20190901\";\n    correct = true;\n}\n\nelse if (year==2019 && month == 11){\n    table = \"table1\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\n\nelse if (year==2019 && month == 8){\n    table = \"table2\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = \"0\"+month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\nelse {\n    correct = false;\n}\n\nif (correct === false){\n    msg.topic = \"WRONG DATE\";\n    msg.payload = \"Date must be between 01/08/2019-01/09/2019 or between 01/11/2019-01/12/2019\";\n}\nelse {\n    msg.topic = \"SELECT DISTINCT time_period, MAX((`bytes_up`)+(`bytes_down`)) AS data FROM \"+table+\" WHERE event_date LIKE \"+date+\" GROUP BY time_period ORDER BY data DESC, time_period\";\n    var full = day+\"/\"+month+\"/\"+year;\n    flow.set('date', date);\n    flow.set('full', full);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["89edf09b.35aa7"]]},{"id":"7a3bb73e.dd37a8","type":"ui_toast","z":"6b2e9a51.240394","position":"dialog","displayTime":"3","highlight":"darkblue","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Wrong Date","x":870,"y":100,"wires":[[]]},{"id":"89edf09b.35aa7","type":"switch","z":"6b2e9a51.240394","name":"Check Date","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"WRONG DATE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":140,"wires":[["7a3bb73e.dd37a8"],["ab4b762f.8f7158"]]},{"id":"bc676e9f.a63a7","type":"http request","z":"6b2e9a51.240394","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://147.102.19.45:8090/services/getWeatherDisc/{{{query1}}}/{{{query2}}}","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":300,"wires":[["1b403200.5c600e","b35a8cdf.586bd","788b464b.3b6858"]]},{"id":"3a694e20.8d2c92","type":"debug","z":"6b2e9a51.240394","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":260,"wires":[]},{"id":"83f6b20c.6dac5","type":"function","z":"6b2e9a51.240394","name":"","func":"var data = [];\nvar time = [];\n\nfor (var i =0; i<24; i++){\n    time[i] = msg.payload[i].time_period;\n    data[time[i]] = msg.payload[i].data/1000000000;\n}\nflow.set('data', data);\nmsg.payload = {\"channel\": \"TP01\", \"color\": \"Red\", \"time\": time, \"data\": data};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":200,"wires":[["3e8e930e.e3d94c"]]},{"id":"3e8e930e.e3d94c","type":"ui_template","z":"6b2e9a51.240394","group":"ac4d3166.14775","name":"","order":2,"width":6,"height":7,"format":"<canvas id=\"myChart\" width=\"700\" height=\"520\"></canvas>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@2.8.0\"></script>\n<script>\n(function() {\nvar ctx = document.getElementById('myChart').getContext('2d');\nvar myChart = new Chart(ctx, {\n    type: 'bar',\n    data: {\n        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],\n        //xaxis\n        datasets: [{\n            label: 'Gbytes of data',\n            data: [],\n            backgroundColor: [\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)' ,\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)'\n            ],\n            borderColor: [\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)' ,\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n        title: {\n            display: true,\n            text: 'Max Data per Hour in a specific Location'\n        },\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        },\n        legend: {\n            display: true,\n            position: 'top',\n            align: 'end'\n        },\n        tooltips: {\n            mode: 'label'\n        },\n        //responsive: true,\n        \n        //maintainAspectRatio: false,\n        \n        onClick: handler\n    }\n});\n\nfunction handler(evt){\n    var activeElement = myChart.getElementAtEvent(evt);\n    alert (\"The maximum number of GBytes measured at \"+myChart.data.labels[activeElement[0]._index]+\" o'clock was: \"+myChart.data.datasets[activeElement[0]._datasetIndex].data[activeElement[0]._index]);\n}\n\n\nfunction addData(msg, scope) {\n    if (msg.payload == \"false\"){\n        myChart.data.labels = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]\n        myChart.data.datasets[0].data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\n    }\n    else if(msg.topic == \"update\"){\n        myChart.data.datasets[0].data = msg.payload\n    }\n    else {\n        //myChart.data.labels = msg.payload.time\n        myChart.data.datasets[0].data = msg.payload.data\n    }\n    myChart.update();\n};\n\n(function(scope,evt) {\n        console.log('Position 1');\n        console.dir(scope);\n        scope.send( {payload: \"false\"});\n        scope.$watch('msg', function(msg) {\n            console.log('Position 2');\n            console.dir(msg);\n            if(msg){\n                addData(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1080,"y":320,"wires":[["3a694e20.8d2c92"]]},{"id":"a4a9a233.ff116","type":"ui_numeric","z":"6b2e9a51.240394","name":"","label":"Hour","tooltip":"","group":"918ba25b.bd1a7","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":110,"y":200,"wires":[["604ba7f5.796c38"]]},{"id":"604ba7f5.796c38","type":"function","z":"6b2e9a51.240394","name":"","func":"var hour = msg.payload;\nif (hour>=0 && hour<=9){\n    hour = \"0\"+hour.toString();\n}\nelse {\n    hour = hour.toString();\n}\nflow.set('hour', hour);","outputs":1,"noerr":0,"x":250,"y":200,"wires":[[]]},{"id":"9cf43eb0.8fbdf","type":"ui_button","z":"6b2e9a51.240394","name":"","group":"918ba25b.bd1a7","order":2,"width":6,"height":1,"passthru":false,"label":"Show Weather","tooltip":"","color":"","bgcolor":"","icon":"wi-darksky-clear-day","payload":"","payloadType":"str","topic":"","x":120,"y":320,"wires":[["780fad09.e884b4"]]},{"id":"780fad09.e884b4","type":"function","z":"6b2e9a51.240394","name":"","func":"var hour = \"\";\nvar date = \"\";\nvar full = \"\";\n\ndate = flow.get('date');\nhour = flow.get('hour');\nfull = flow.get('full');\n\nmsg.query1 = date;\nmsg.query2 = hour;\nmsg.full = \"The weather in \"+full+\" at \"+hour+\":00 was:\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["bc676e9f.a63a7","96141dd5.faf38"]]},{"id":"1b403200.5c600e","type":"ui_audio","z":"6b2e9a51.240394","name":"","group":"918ba25b.bd1a7","voice":"en-US","always":"","x":660,"y":260,"wires":[]},{"id":"cf862c9f.eaddb","type":"ui_button","z":"6b2e9a51.240394","name":"","group":"ac4d3166.14775","order":3,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"false","payloadType":"str","topic":"","x":910,"y":320,"wires":[["3e8e930e.e3d94c"]]},{"id":"b35a8cdf.586bd","type":"ui_text","z":"6b2e9a51.240394","group":"918ba25b.bd1a7","order":4,"width":0,"height":0,"name":"","label":"{{msg.full}}","format":"{{msg.payload}}","layout":"col-center","x":570,"y":220,"wires":[]},{"id":"96141dd5.faf38","type":"debug","z":"6b2e9a51.240394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"476002c5.15a28c","type":"ui_button","z":"6b2e9a51.240394","name":"","group":"918ba25b.bd1a7","order":14,"width":3,"height":1,"passthru":false,"label":"Go to map","tooltip":"","color":"","bgcolor":"","icon":"map","payload":"4","payloadType":"num","topic":"","x":110,"y":460,"wires":[["be08ccb6.cabd3"]]},{"id":"1f16a0a6.22a69f","type":"function","z":"f192f3f4.8a839","name":"msg.filename","func":"var w = msg.payload;\nvar weather = \"\";\n\nfor (var i=0; i<w.length; i++){\n    if (w[i] == \":\") break;\n    weather = weather + w[i];\n}\n\nif(weather == \"clear sky\" || weather == \"clear sky \" || weather == \"clear sky  \" || weather == \"clear sky   \" || weather == \"clear sky    \" || weather == \"clear sky     \" || weather == \"clear sky      \"){\n    msg.payload = \"https://static.euronews.com/weather/icons/SVGs/v2_2/wsymbol_0001_sunny.svg\";\n}\nelse if(weather == \"few clouds\"){\n    msg.payload = \"https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Gnome-weather-few-clouds.svg/1024px-Gnome-weather-few-clouds.svg.png\";\n}\nelse if(weather == \"scattered clouds\"){\n    msg.payload = \"https://www.wrdw.com/pf/resources/images/weather/weather-condition-icons/400x400/66_daily_forecast.png?d=89\";\n}\nelse if(weather == \"broken clouds\"){\n    msg.payload = \"https://static.thenounproject.com/png/141491-200.png\";\n}\nelse if(weather == \"overcast clouds\"){\n    msg.payload = \"https://www.shareicon.net/data/512x512/2015/10/22/659928_cloud_512x512.png\";\n}\nelse if(weather == \"light rain\" || weather == \"light rain \" || weather == \"light rain  \"){\n    msg.payload = \"https://image.flaticon.com/icons/png/512/1/1801.png\";\n}\nelse if(weather == \"moderate rain\" || weather == \"moderate rain \" || weather == \"moderate rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-02-128.png\";\n}\nelse if(weather == \"heavy intensity rain\" || weather == \"heavy intensity rain \" || weather == \"heavy intensity rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-28-128.png\";\n}\nelse if(weather == \"very heavy rain\" || weather == \"very heavy rain \" || weather == \"very heavy rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-48-128.png\";\n}\nelse if(weather == \"fog\" || weather == \"fog \" || weather == \"fog  \"){\n    msg.payload = \"https://cdn4.iconfinder.com/data/icons/summer-18/32/sun-sunny-cloud-cloudy-weather-forecast-128.png\";\n}\nelse if(weather == \"dust\" || weather == \"dust \" || weather == \"dust  \"){\n    msg.payload = \"https://cdn3.iconfinder.com/data/icons/weather-ios-11-1/50/Dust_Sun_Apple_iOS_Flat_Weather-512.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["d44a5f88.b0c79"]]},{"id":"d44a5f88.b0c79","type":"ui_template","z":"f192f3f4.8a839","group":"e6c235f9.2d8bd8","name":"","order":6,"width":2,"height":3,"format":"<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src={{msg.payload}} style=\"height:100%;\" />\n<style>\nbody {\n        background-image: url(\"https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg\");\n        background-size:cover;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":520,"wires":[[]]},{"id":"beb0d615.f26048","type":"function","z":"4a21210a.e86b3","name":"msg.filename","func":"var w = msg.payload;\nvar weather = \"\";\n\nfor (var i=0; i<w.length; i++){\n    if (w[i] == \":\") break;\n    weather = weather + w[i];\n}\n\nif(weather == \"clear sky\" || weather == \"clear sky \" || weather == \"clear sky  \" || weather == \"clear sky   \" || weather == \"clear sky    \" || weather == \"clear sky     \" || weather == \"clear sky      \"){\n    msg.payload = \"https://static.euronews.com/weather/icons/SVGs/v2_2/wsymbol_0001_sunny.svg\";\n}\nelse if(weather == \"few clouds\"){\n    msg.payload = \"https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Gnome-weather-few-clouds.svg/1024px-Gnome-weather-few-clouds.svg.png\";\n}\nelse if(weather == \"scattered clouds\"){\n    msg.payload = \"https://www.wrdw.com/pf/resources/images/weather/weather-condition-icons/400x400/66_daily_forecast.png?d=89\";\n}\nelse if(weather == \"broken clouds\"){\n    msg.payload = \"https://static.thenounproject.com/png/141491-200.png\";\n}\nelse if(weather == \"overcast clouds\"){\n    msg.payload = \"https://www.shareicon.net/data/512x512/2015/10/22/659928_cloud_512x512.png\";\n}\nelse if(weather == \"light rain\" || weather == \"light rain \" || weather == \"light rain  \"){\n    msg.payload = \"https://image.flaticon.com/icons/png/512/1/1801.png\";\n}\nelse if(weather == \"moderate rain\" || weather == \"moderate rain \" || weather == \"moderate rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-02-128.png\";\n}\nelse if(weather == \"heavy intensity rain\" || weather == \"heavy intensity rain \" || weather == \"heavy intensity rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-28-128.png\";\n}\nelse if(weather == \"very heavy rain\" || weather == \"very heavy rain \" || weather == \"very heavy rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-48-128.png\";\n}\nelse if(weather == \"fog\" || weather == \"fog \" || weather == \"fog  \"){\n    msg.payload = \"https://cdn4.iconfinder.com/data/icons/summer-18/32/sun-sunny-cloud-cloudy-weather-forecast-128.png\";\n}\nelse if(weather == \"dust\" || weather == \"dust \" || weather == \"dust  \"){\n    msg.payload = \"https://cdn3.iconfinder.com/data/icons/weather-ios-11-1/50/Dust_Sun_Apple_iOS_Flat_Weather-512.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["ce152b5a.4c0228"]]},{"id":"ce152b5a.4c0228","type":"ui_template","z":"4a21210a.e86b3","group":"49cc513b.ae68a","name":"","order":6,"width":2,"height":3,"format":"<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src={{msg.payload}} style=\"height:100%;\" />\n<style>\nbody {\n        background-image: url(\"https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg\");\n        background-size:cover;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":380,"wires":[[]]},{"id":"788b464b.3b6858","type":"function","z":"6b2e9a51.240394","name":"msg.filename","func":"var w = msg.payload;\nvar weather = \"\";\n\nfor (var i=0; i<w.length; i++){\n    if (w[i] == \":\") break;\n    weather = weather + w[i];\n}\n\nif(weather == \"clear sky\" || weather == \"clear sky \" || weather == \"clear sky  \" || weather == \"clear sky   \" || weather == \"clear sky    \" || weather == \"clear sky     \" || weather == \"clear sky      \"){\n    msg.payload = \"https://static.euronews.com/weather/icons/SVGs/v2_2/wsymbol_0001_sunny.svg\";\n}\nelse if(weather == \"few clouds\"){\n    msg.payload = \"https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Gnome-weather-few-clouds.svg/1024px-Gnome-weather-few-clouds.svg.png\";\n}\nelse if(weather == \"scattered clouds\"){\n    msg.payload = \"https://www.wrdw.com/pf/resources/images/weather/weather-condition-icons/400x400/66_daily_forecast.png?d=89\";\n}\nelse if(weather == \"broken clouds\"){\n    msg.payload = \"https://static.thenounproject.com/png/141491-200.png\";\n}\nelse if(weather == \"overcast clouds\"){\n    msg.payload = \"https://www.shareicon.net/data/512x512/2015/10/22/659928_cloud_512x512.png\";\n}\nelse if(weather == \"light rain\" || weather == \"light rain \" || weather == \"light rain  \"){\n    msg.payload = \"https://image.flaticon.com/icons/png/512/1/1801.png\";\n}\nelse if(weather == \"moderate rain\" || weather == \"moderate rain \" || weather == \"moderate rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-02-128.png\";\n}\nelse if(weather == \"heavy intensity rain\" || weather == \"heavy intensity rain \" || weather == \"heavy intensity rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-28-128.png\";\n}\nelse if(weather == \"very heavy rain\" || weather == \"very heavy rain \" || weather == \"very heavy rain  \"){\n    msg.payload = \"https://cdn0.iconfinder.com/data/icons/weather-forecast-9/100/WeatherIcons-IF-48-128.png\";\n}\nelse if(weather == \"fog\" || weather == \"fog \" || weather == \"fog  \"){\n    msg.payload = \"https://cdn4.iconfinder.com/data/icons/summer-18/32/sun-sunny-cloud-cloudy-weather-forecast-128.png\";\n}\nelse if(weather == \"dust\" || weather == \"dust \" || weather == \"dust  \"){\n    msg.payload = \"https://cdn3.iconfinder.com/data/icons/weather-ios-11-1/50/Dust_Sun_Apple_iOS_Flat_Weather-512.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["2e997f7.c490b8"]]},{"id":"2e997f7.c490b8","type":"ui_template","z":"6b2e9a51.240394","group":"918ba25b.bd1a7","name":"","order":6,"width":2,"height":3,"format":"<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src={{msg.payload}} style=\"height:100%;\" />\n<style>\nbody {\n        background-image: url(\"https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg\");\n        background-size:cover;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":420,"wires":[[]]},{"id":"8215d18e.56a51","type":"ui_ui_control","z":"f192f3f4.8a839","name":"","events":"all","x":260,"y":540,"wires":[[]]},{"id":"be08ccb6.cabd3","type":"ui_ui_control","z":"6b2e9a51.240394","name":"","events":"all","x":260,"y":460,"wires":[[]]},{"id":"2163c296.77082e","type":"worldmap in","z":"8acd678a.d99898","name":"Asset Tracking Map","path":"","events":"","x":130,"y":280,"wires":[["661a04ff.ad587c"]]},{"id":"661a04ff.ad587c","type":"function","z":"8acd678a.d99898","name":"status","func":"if(msg.payload.action===\"connected\"){\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["42e878c9.b169e8"]]},{"id":"36e15516.bcb85a","type":"worldmap","z":"8acd678a.d99898","name":"Asset Tracking Map","lat":"40.629269","lon":"22.947412","zoom":"11","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":710,"y":280,"wires":[]},{"id":"55840f9e.672b8","type":"template","z":"8acd678a.d99898","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=/worldmap height=500px; width=520px; alt=\"Image not found\"></iframe>","output":"str","x":440,"y":460,"wires":[["46f3235f.5154dc"]]},{"id":"46f3235f.5154dc","type":"ui_template","z":"8acd678a.d99898","group":"f0be4a0a.85f128","name":"","order":1,"width":6,"height":9,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>\n<style>\nbody {\n        background-image: url(\"https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg\");\n        background-size:cover;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":600,"y":460,"wires":[[]]},{"id":"565e4cf8.124184","type":"ui_button","z":"8acd678a.d99898","name":"","group":"7e371740.ef4218","order":5,"width":3,"height":1,"passthru":false,"label":"Show Location to Map","tooltip":"","color":"","bgcolor":"","icon":"location_on","payload":"/worldmap","payloadType":"str","topic":"","x":120,"y":360,"wires":[["1f68272f.c7fe39"]]},{"id":"1f68272f.c7fe39","type":"function","z":"8acd678a.d99898","name":"","func":"var date = \"\";\nvar hour = \"\";\nvar type1 = \"\";\nvar type2 = \"\";\nvar table = \"\";\n\ndate = flow.get('date');\nhour = flow.get('hour');\ntype1 = flow.get('type1');\ntype2 = flow.get('type2');\ntable = flow.get('table');\n\nmsg.topic = \"SELECT DISTINCT \"+type1+\" AS \"+type2+\", `cell_lat`,`cell_lon`,`cell_municipality` FROM \"+table+\" WHERE event_date LIKE \"+date+\" && `time_period`=\"+hour;\nmsg.payload = \"/worldmap\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["6912642e.78cefc"]]},{"id":"84fc4573.742778","type":"ui_date_picker","z":"8acd678a.d99898","name":"","label":"Date","group":"7e371740.ef4218","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":80,"wires":[["563662b8.9f81fc"]]},{"id":"c63a00fc.28d39","type":"ui_numeric","z":"8acd678a.d99898","name":"","label":"Hour","tooltip":"","group":"7e371740.ef4218","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":90,"y":140,"wires":[["7e105074.124f6"]]},{"id":"754d1852.4ee9b8","type":"ui_dropdown","z":"8acd678a.d99898","name":"","label":"Type of Statistics","tooltip":"","place":"Select:","group":"7e371740.ef4218","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Calls","value":"Calls","type":"str"},{"label":"SMS","value":"SMS","type":"str"},{"label":"Data","value":"Data","type":"str"}],"payload":"","topic":"","x":130,"y":200,"wires":[["680b513d.10c4f"]]},{"id":"7e105074.124f6","type":"function","z":"8acd678a.d99898","name":"","func":"var hour = msg.payload;\nhour = hour.toString();\nflow.set('hour', hour);","outputs":1,"noerr":0,"x":250,"y":140,"wires":[[]]},{"id":"563662b8.9f81fc","type":"moment","z":"8acd678a.d99898","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Athens","adjAmount":0,"adjType":"days","adjDir":"add","format":"Object","locale":"el_GR","output":"","outputType":"msg","outTz":"Europe/Athens","x":280,"y":80,"wires":[["f6f63483.fd9788"]]},{"id":"f6f63483.fd9788","type":"function","z":"8acd678a.d99898","name":"","func":"var year = msg.payload.years;\nvar month = msg.payload.months+1;\nvar day = msg.payload.date;\n\nvar table = \"\";\nvar date = \"\";\n\nvar correct = false;\n\nif(year==2019 && month==12 && day==1){\n    table = \"table1\";\n    date = \"20191201\";\n    correct = true;\n}\n\nelse if(year==2019 && month==9 && day==1){\n    table = \"table2\";\n    date = \"20190901\";\n    correct = true;\n}\n\nelse if (year==2019 && month == 11){\n    table = \"table1\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\n\nelse if (year==2019 && month == 8){\n    table = \"table2\";\n    if(day>=1 && day<=9){\n        day=\"0\"+day.toString();\n    }\n    else{\n        day=day.toString();\n    }\n    month = \"0\"+month.toString();\n    year = year.toString();\n    date = year+month+day;\n    correct = true;\n}\nelse {\n    correct = false;\n}\n\nif (correct === false){\n    msg.topic = \"WRONG DATE\";\n    msg.payload = \"Date must be between 01/08/2019-01/09/2019 or between 01/11/2019-01/12/2019\";\n}\nelse {\n    msg.topic = \"SELECT DISTINCT time_period, MAX((`bytes_up`)+(`bytes_down`)) AS data FROM \"+table+\" WHERE event_date LIKE \"+date+\" GROUP BY time_period ORDER BY data DESC, time_period\";\n    var full = day+\"/\"+month+\"/\"+year;\n    flow.set('date', date);\n    flow.set('full', full);\n    flow.set('table',table);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["83110048.1efb5"]]},{"id":"83110048.1efb5","type":"switch","z":"8acd678a.d99898","name":"Check Date","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"WRONG DATE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":80,"wires":[["fcf3ab12.2c5658"],[]]},{"id":"fcf3ab12.2c5658","type":"ui_toast","z":"8acd678a.d99898","position":"dialog","displayTime":"3","highlight":"darkblue","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Wrong Date","x":750,"y":40,"wires":[[]]},{"id":"6912642e.78cefc","type":"mysql","z":"8acd678a.d99898","mydb":"7c7424af.eba05c","name":"","x":450,"y":360,"wires":[["42e878c9.b169e8"]]},{"id":"680b513d.10c4f","type":"function","z":"8acd678a.d99898","name":"","func":"var t = msg.payload;\nvar type = \"\";\n\nif(t == \"Calls\"){\n    type1 = \"MAX((`voice_in`)+(`voice_out`))\";\n    type2 = \"calls\";\n}\n\nelse if(t == \"SMS\"){\n    type1 = \"MAX((`sms_in`)+(`sms_out`))\";\n    type2 = \"sms\";\n}\n\nelse if(t == \"Data\"){\n    type1 = \"MAX((`bytes_up`)+(`bytes_down`))\";\n    type2 = \"data\";\n}\n\nflow.set('type1', type1);\nflow.set('type2', type2);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[[]]},{"id":"42e878c9.b169e8","type":"function","z":"8acd678a.d99898","name":"after_sql","func":"var lat = msg.payload[0].cell_lat;\nvar lon = msg.payload[0].cell_lon;\n\nvar location = msg.payload[0].cell_municipality;\n\nwhile (lat >= 100){\n    lat = lat / 10;\n}\n\nwhile (lon >= 100){\n    lon = lon / 10;\n}\n\n\nif(msg.payload[0].calls){\n    var calls = msg.payload[0].calls;\n    msg.payload={\"name\":location, \"icon\":\"phone\", \"lat\":lat, \"lon\":lon, \"label\":\"Number of Calls: \"+calls};\n}\n\nelse if (msg.payload[0].sms){\n    var sms = msg.payload[0].sms;\n    msg.payload={\"name\":location, \"icon\":\"envelope\", \"lat\":lat, \"lon\":lon, \"label\":\"Number of SMS: \"+sms};\n}\n\nelse if (msg.payload[0].data){\n    var data = msg.payload[0].data/1000000000;\n    msg.payload={\"name\":location, \"icon\":\"wifi\", \"lat\":lat, \"lon\":lon, \"label\":\"GBytes: \"+data};\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["36e15516.bcb85a","3a47fd15.27e362"]]},{"id":"3a47fd15.27e362","type":"debug","z":"8acd678a.d99898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]},{"id":"96b343dc.3085e","type":"ui_button","z":"f192f3f4.8a839","name":"","group":"e6a4893.3cdd678","order":4,"width":3,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"calls","payloadType":"flow","topic":"update","x":920,"y":460,"wires":[["5222e879.0afcd8"]]},{"id":"bca9ec37.0bf83","type":"ui_button","z":"4a21210a.e86b3","name":"","group":"49cc513b.ae68a","order":13,"width":3,"height":1,"passthru":false,"label":"Return Home","tooltip":"","color":"","bgcolor":"","icon":"home","payload":"0","payloadType":"num","topic":"","x":90,"y":420,"wires":[["e3b2a03a.c948"]]},{"id":"e3b2a03a.c948","type":"ui_ui_control","z":"4a21210a.e86b3","name":"","events":"all","x":240,"y":420,"wires":[[]]},{"id":"8568b5b5.624358","type":"ui_button","z":"4a21210a.e86b3","name":"","group":"49cc513b.ae68a","order":14,"width":3,"height":1,"passthru":false,"label":"Go to map","tooltip":"","color":"","bgcolor":"","icon":"map","payload":"4","payloadType":"num","topic":"","x":90,"y":500,"wires":[["b0afebad.3aeae8"]]},{"id":"b0afebad.3aeae8","type":"ui_ui_control","z":"4a21210a.e86b3","name":"","events":"all","x":240,"y":500,"wires":[[]]},{"id":"e64548ad.74f5b8","type":"ui_button","z":"4a21210a.e86b3","name":"","group":"1f686606.2cab1a","order":4,"width":3,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"sms","payloadType":"flow","topic":"update","x":900,"y":360,"wires":[["c886eebe.583b2"]]},{"id":"d1ca7d73.f7687","type":"ui_button","z":"6b2e9a51.240394","name":"","group":"ac4d3166.14775","order":4,"width":3,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"data","payloadType":"flow","topic":"update","x":920,"y":380,"wires":[["3e8e930e.e3d94c"]]},{"id":"8f43810d.6551e","type":"ui_template","z":"77c2bd2.a63fb44","group":"43a29d16.32d264","name":"Welcome","order":1,"width":13,"height":1,"format":"<style>\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n    }\n    h4 {\n        color:#337774;\n        text-align: center;\n    }\n    .nr-dashboard-template h4 {\n        color: #2e7b78 !important;\n        background-color: #ffffff !important;\n    } \n    body {\n        background-image: url(\"https://hougumlaw.com/wp-content/uploads/2016/05/light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg\");\n        background-size:cover;\n    }\n</style>\n<body>\n    <h4>Tηλεπικοινωνιακά και καιρικά δεδομένα για την πόλη της Θεσσαλονίκης τους μήνες <i>Νοέμβριο 2019</i> και <i>Αύγουστο 2019</i> </h4>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"768f21d2.1ddcc","type":"ui_template","z":"77c2bd2.a63fb44","group":"a4d8665d.5e5348","name":"","order":1,"width":0,"height":0,"format":"<style>\n   #Home_SMS_Statistics {\n    background-color: #ffffff;\n    border: 1px solid #ffffff;\n} \n</style>\n<body>\n    <ul>\n        <li><b>Επίλεξε ημερομηνία:</b> <br> Εμφάνιση του μέγιστου αριθμού εισερχόμενων και εξερχόμενων <b><i>SMS</i></b> ανά ώρα που μετρήθηκαν σε μια συγκεκριμένη περιοχή.<br><br></li>\n        <li><b>Επίλεξε ώρα:</b><br> Εμφάνιση του <b><i>καιρού</i></b> για την συγκεκριμένη ημερομηνία και ώρα.</li>\n    </ul>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":120,"wires":[[]]},{"id":"a03c3d0e.348a1","type":"ui_template","z":"77c2bd2.a63fb44","group":"697a625b.55214c","name":"","order":1,"width":0,"height":0,"format":"<style>\n   #Home_Data_Statistics {\n    background-color: #ffffff;\n    border: 1px solid #ffffff;\n} \n</style>\n<body>\n    <ul>\n        <li><b>Επίλεξε ημερομηνία:</b> <br> Εμφάνιση του μέγιστου αριθμού uploaded και downloaded <b><i>Gbytes</i></b> ανά ώρα που μετρήθηκαν σε μια συγκεκριμένη περιοχή.<br><br></li>\n        <li><b>Επίλεξε ώρα:</b><br> Εμφάνιση του <b><i>καιρού</i></b> για την συγκεκριμένη ημερομηνία και ώρα.</li>\n    </ul>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":180,"wires":[[]]},{"id":"744eda3a.6e64b4","type":"ui_button","z":"77c2bd2.a63fb44","name":"","group":"adbb1ea1.c57b2","order":3,"width":3,"height":1,"passthru":false,"label":"Μεταβαση στο Map","tooltip":"","color":"","bgcolor":"","icon":"map","payload":"4","payloadType":"num","topic":"","x":110,"y":240,"wires":[["9daaa030.7999e"]]},{"id":"79f4313b.3db38","type":"ui_template","z":"77c2bd2.a63fb44","group":"adbb1ea1.c57b2","name":"","order":1,"width":0,"height":0,"format":"<style>\n   #Home_Locations{\n    background-color: #ffffff;\n    border: 1px solid #ffffff;\n} \n</style>\n<body>\n    <ul>\n        <li><b>Επίλεξε ημερομηνία</b><br><br></li>\n        <li><b>Επίλεξε ώρα</b><br><br></li>\n        <li><b>Επίλεξε τύπο δεδομένων</b><br><br>Εμφάνιση <b><i>τοποθεσίας</i></b> δημοφιλέστερου αποτελέσματος στο χάρτη.</li>\n    </ul>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":240,"wires":[[]]},{"id":"a2a5f76e.f27048","type":"ui_template","z":"77c2bd2.a63fb44","group":"610853ee.969ccc","name":"","order":1,"width":0,"height":0,"format":"<style>\n   #Home_Call_Statistics {\n    background-color: #ffffff;\n    border: 1px solid #ffffff;\n}\n    ul{\n        color:#337774;\n        \n    }\n</style>\n<body>\n    <ul>\n        <li><b>Επίλεξε ημερομηνία:</b> <br> Εμφάνιση του μέγιστου αριθμού εισερχόμενων και εξερχόμενων <b><i>κλήσεων</b></i> ανά ώρα που μετρήθηκαν σε μια συγκεκριμένη περιοχή.<br><br></li>\n        <li><b>Επίλεξε ώρα:</b><br> Εμφάνιση του <b><i>καιρού</i></b> για την συγκεκριμένη ημερομηνία και ώρα.</li>\n    </ul>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":60,"wires":[[]]},{"id":"62e26ba7.7cf204","type":"ui_ui_control","z":"77c2bd2.a63fb44","name":"","events":"all","x":300,"y":60,"wires":[[]]},{"id":"74d26758.61a558","type":"ui_ui_control","z":"77c2bd2.a63fb44","name":"","events":"all","x":300,"y":120,"wires":[[]]},{"id":"f17327ce.94cd48","type":"ui_ui_control","z":"77c2bd2.a63fb44","name":"","events":"all","x":300,"y":180,"wires":[[]]},{"id":"9daaa030.7999e","type":"ui_ui_control","z":"77c2bd2.a63fb44","name":"","events":"all","x":300,"y":240,"wires":[[]]},{"id":"8dacd7af.06c178","type":"ui_ui_control","z":"8acd678a.d99898","name":"","events":"all","x":280,"y":460,"wires":[["55840f9e.672b8"]]},{"id":"d01b874c.504818","type":"mqtt in","z":"77c2bd2.a63fb44","name":"","topic":"exams","qos":"2","datatype":"json","broker":"459eda6b.02acc4","x":100,"y":420,"wires":[["a8e3aadc.247098","c689f5f9.9fe9c8","2c7fd771.b50718","adc2d205.85e14"]]},{"id":"c689f5f9.9fe9c8","type":"function","z":"77c2bd2.a63fb44","name":"","func":"calls = msg.payload.voice_in + msg.payload.voice_out;\nmsg.payload = calls;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["f5ce5fa7.ff5b6"]]},{"id":"f5ce5fa7.ff5b6","type":"ui_chart","z":"77c2bd2.a63fb44","name":"","group":"d97cea3c.68c468","order":2,"width":3,"height":4,"label":"Calls","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No results yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":340,"wires":[[]]},{"id":"a8e3aadc.247098","type":"debug","z":"77c2bd2.a63fb44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":520,"wires":[]},{"id":"2c7fd771.b50718","type":"function","z":"77c2bd2.a63fb44","name":"","func":"sms = msg.payload.sms_in + msg.payload.sms_out;\nmsg.payload = sms;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["bc43c09c.1180b"]]},{"id":"bc43c09c.1180b","type":"ui_chart","z":"77c2bd2.a63fb44","name":"","group":"d97cea3c.68c468","order":4,"width":3,"height":4,"label":"SMS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No results yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":400,"wires":[[]]},{"id":"adc2d205.85e14","type":"function","z":"77c2bd2.a63fb44","name":"","func":"data = msg.payload.bytes_up + msg.payload.bytes_down;\nmsg.payload = data/1000000;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["9c86fd7b.900b"]]},{"id":"9c86fd7b.900b","type":"ui_chart","z":"77c2bd2.a63fb44","name":"","group":"d97cea3c.68c468","order":6,"width":3,"height":4,"label":"Data (Mbyte)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No results yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":460,"wires":[[]]},{"id":"9d17c665.5cf488","type":"ui_button","z":"8acd678a.d99898","name":"","group":"7e371740.ef4218","order":4,"width":3,"height":1,"passthru":false,"label":"Return Home","tooltip":"","color":"","bgcolor":"","icon":"home","payload":"0","payloadType":"num","topic":"","x":110,"y":520,"wires":[["90b5a7d5.c86eb8"]]},{"id":"90b5a7d5.c86eb8","type":"ui_ui_control","z":"8acd678a.d99898","name":"","events":"all","x":260,"y":520,"wires":[[]]}]